<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet">
    <style>
    
  </style>
</head>
<body>
  <div class="container">
    <div class="heading">
      <h1>Student Management</h1>
      <button>Add New Student</button>
    </div>
    <table id="myTable">
      <thead>
        <tr>
          <% if (students.length > 0) { %>
            <% Object.keys(students[0]).forEach(key => { %>
              <th><%= key %></th>
            <% }); %>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <!-- Table data will be inserted here -->
        <% students.forEach(student => { %>
          <tr>
            <% Object.values(student).forEach(value => { %>
              <td><%= value %></td>
            <% }); %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
</html>




