<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student data</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Student Management Interface</h1>
        <form id="student-details" method="post" action="/add">
            <h2>Enter student details below to register.</h2>
            <label for="username">Username</label><br>
            <input name="username"><br>
            <label for="email">Email</label><br>
            <input name="email"><br><br>
            <input type="submit">
        </form>
        
        <div id=""class="buttons">
            <h2>View All students below</h2>
            <form action="/display" method="GET">
            <button id="view">View All</button>
            </form><br>

            <form action="/idDisplay" method="GET">
                <label for="id">Enter ID to view student</label><br>
                <input name="id">
                <input type="submit" value="Go">
            </form><br>

            <form action="/remove">
                <label for="id-delete">Enter ID, name or email to delete student</label><br>
                <input name="id-delete">
                <input type="submit">
            </form>
        </div><br>
        <div class="display">
            <% if (locals.content) { %>
            <p>
                <%= content %>
            </p>
            <% } else { %>
            <p>Welcome to the student portal🤟</p>
            <% } %>
        </div>
        <button>Edit Profile</button>
    </div> 

      <div class="modal hidden">
        <div class="close-modal">&#9421;</div>
        <div class="modal-content">Blog Post Saved</div>
        <button class="modal-button">Ok</button>
        </div>
    </div>  
</body>
</html>
